<link rel="stylesheet" href="assets/result.css">

<div id="container">
  <div>
    <p class="lead"> Os dados do arquivo "<%= @name_file %>" foram analisados com sucesso, selecione os filtros desejados.
    os textos recuperados seram separados por "|" 
    </p>

    <form method="POST">

      <label>
        Quantidade de páginas
        <input type="checkbox" name="qt_pages" value="qt_pages_atv"> 
      </label>

      <label>
        Textos
        <input type="checkbox" name="text" value="text_atv"> 
      </label>

      <label>
        Página do texto
        <input type="checkbox" name="page_text" value="page_text_atv"> 
      </label>

      <label>
        Conteúdo root
        <input type="checkbox" name="root" value="root_atv"> 
      </label>

      <input type="button" value="Filtrar" id="enviar">
    </form>

    <div id="qt_pages">
      <p id="p_qt_pages"></p>
    </div>

    <div id="texts">
      <p id="p_texts"> 
        <br><br><br> As palavras/dados/textos obtidos foram: <br><br><br>
        <% @result.blocks.size.times do |i| %>
        <%= @result.blocks[i].text %> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
        <% end %>
      </p>
    </div>

    <script>
      $('#enviar').click(function(){
        if($('input[name=qt_pages]').is(":checked")){
          $('#p_qt_pages').html("A quantidade de páginas do arquivo é: <%= @result.document_metadata.pages %>")
          $('#qt_pages').css("display", "block")
        }
        else{
          $('#qt_pages').css("display", "none")
        }

        if($('input[name=text]').is(":checked")){
          $('#texts').css("display", "block")
        }
        else{
          $('#texts').css("display", "none")
        }
      })

    </script>

  </div>
</div>

