<div>
	<form name="formulario" action="result_textract" method="post" enctype="multipart/form-data">
		<fieldset>
			<legend id="legend">Extração/Análise de dados em arquivo PDF</legend>
			<label for="arquivo" id="label"> Insira o aquivo PDF </label>

			<input type="file" name="arquivo" id="arquivo">
		</fieldset>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	</form>
</div>

<script>
	$('input').change(function () {
		document.formulario.submit();
		alert("Documento enviado com sucesso para análise aguarde...")
	})
</script>