#label{
	margin-left: 2%;
  cursor: pointer;
	font-size: 150%;
	display: flex;
	width: 230px;
	height: 230px;
	background-color: rgb(238, 238, 238);
	justify-content: center;
	align-items: center;
}

#legend{
  margin: 1% 2%;
}

input[type="file"]{
	display: none;
}
