.navbar{
  padding: 0;
}
.navbar-brand{
  margin-left: 1%;
  height: 11vh;
}

.navbar-black a{
  color: black;
  font-size: 90%;
  font-weight: 350;
}

.bg-menu{
  background-color: rgb(240, 240, 240);
}

.form-menu{
  display: flex;
  margin-left: 8%;
}

select{
  padding-right: 24%;
  height: 4vh;
  background-color: gainsboro;
  font-size: 90%;
  border-radius: 0.4vh;
  -webkit-border-radius: 0.4vh;
  -moz-border-radius: 0.4vh;
  -ms-border-radius: 0.4vh;
  -o-border-radius: 0.4vh;
}

input[type="text"]{
  margin: 0 5%;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
}

.bg-menu2{
  background-color: rgba(48, 48, 48, 0.795);
  height: 3.5vh;
}

.nav-item{
  border-left: 0.5px solid gainsboro;
  border-right: 0.5px solid gainsboro;
}