<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="assets/menu.css">

<nav class="navbar navbar-expand-sm navbar-black bg-menu">
<img class="navbar-brand" src="assets/moltrio-logo.png">

<ul class="navbar-nav">
  <li class="nav-item start-item">
    <a class="nav-link" href="javascript:void(0)">Principal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">Comercial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">Pós-venda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">Gestão de benefícios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)">Negócios</a>
  </li>
  <li class="nav-item end-item">
    <a class="nav-link" href="javascript:void(0)">Financiamento</a>
  </li>
</ul>

<form class="form-menu">
  <select>
    <option> Contatos </option>
  </select>
  <input type="text" placeholder="Pesquisar">
</form>
</nav>

<nav class="navbar navbar-dark bg-menu2">

</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>